{% extends 'base.html.twig' %}

{% block title %}Players - {{ parent() }}{% endblock %}

{% block body %}
<div class="row mt-4">
    <div class="col-12">
        <h1>Players <small class="text-muted">({{ players|length }})</small></h1>

        {% if players is empty %}
            <p class="text-center text-muted p-4">No players found.</p>
        {% else %}
            <table class="table table-striped table-hover">
                <tbody>
                    {% for player in players %}
                        <tr>
                            <td>
                                <img src="{{ asset('img/flags/32/' ~ player.country.iso ~ '.png') }}"
                                     alt="{{ player.country.name }}"
                                     title="{{ player.country.name }}"
                                     width="32" height="24"
                                     class="me-2">
                                <a href="{{ path('player_view', {'nameUrl': player.nameUrl}) }}" class="text-decoration-none">
                                    {{ player.name }}
                                </a>
                            </td>
                            <td class="text-end">
                                {% if player.avgPosRank %}
                                    WCR #{{ player.avgPosRank }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
